{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Test microservices</h1>
                <hr>

                <a id='brokerBtn' class='btn btn-outline-secondary' href='javascript:void(0);'>Test Broker</a>
                <a id='authenticationBtn' class='btn btn-outline-secondary' href='javascript:void(0);'>Test Authentication</a>
                <a id='loggerBtn' class='btn btn-outline-secondary' href='javascript:void(0);'>Test Logger</a>

                <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                    <span class="text-muted">Output shows here...</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="payload"><span class="text-muted">Nothing sent yet...</span></pre>
                </div>
            </div>
            <div class="col">
                <h4 class="mt-5">Received</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="received"><span class="text-muted">Nothing received yet...</span></pre>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        const brokerBtn = document.getElementById('brokerBtn');
        const authenticationBtn = document.getElementById('authenticationBtn');
        const loggerBtn = document.getElementById('loggerBtn');
        const output = document.getElementById('output');
        const sent = document.getElementById('payload');
        const received = document.getElementById('received');

        // for logger service
        loggerBtn.addEventListener('click', (e) => {
            const payload = {
                action: 'log',
                log: {
                    name: 'Test Logger',
                    data: 'This is a test log',
                }
            }
            const headers = new Headers();

            headers.append('Content-Type', 'application/json');

            const requestBody = {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(payload),
            }

            // backend url is http://localhost:8080
            fetch('http:\/\/localhost:8080/handle', requestBody)
                .then(response => response.json())
                .then(data => {
                    sent.innerHTML = JSON.stringify(payload, null, 4);
                    received.innerHTML = JSON.stringify(data, null, 4);
                    if (data.error) {
                        output.innerHTML += `<br><br>Error: ${data.message}`;
                    } else {
                        output.innerHTML += `<br><strong>Response from logger service:</strong><br>${data.message}`;
                    }
                })
                .catch(error => {
                    console.error(error)
                    output.innerHTML += `<br><br>Error: ${error}`;
                });
        });

        // for broker service
        brokerBtn.addEventListener('click', (e) => {
            const body = {
                method: 'POST',
            }
            // backend url is http://localhost:8080
            fetch('http:\/\/localhost:8080', body)
                .then(response => response.json())
                .then(data => {
                    sent.innerHTML = 'empty post request';
                    received.innerHTML = JSON.stringify(data, null, 4);
                    if (data.error) {
                        console.log(data.message);
                        output.innerHTML += `<br><br>Error: ${data.message}`;
                    } else {
                        output.innerHTML += `<br><strong>Response from broker service:</strong><br>${data.message}`;
                    }
                })
                .catch(error => {
                    output.innerHTML += `<br><br>Error: ${error}`;
                });
        });

        // for authentication service
        authenticationBtn.addEventListener('click', (e) => {
            const payload = {
                action: 'auth',
                auth: {
                    email: 'admin@example.com',
                    password: 'verysecret',
                }
            }
            const headers = new Headers();

            headers.append('Content-Type', 'application/json');

            const requestBody = {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(payload),
            }

            // backend url is http://localhost:8080
            fetch('http:\/\/localhost:8080/handle', requestBody)
                .then(res => res.json())
                .then(data => {
                    sent.innerHTML = JSON.stringify(payload, null, 4);
                    received.innerHTML = JSON.stringify(data, null, 4);
                    if (data.error) {
                        console.log(data);
                        output.innerHTML += `<br><br>Error: ${data.message}`;
                    } else {
                        output.innerHTML += `<br><strong>Response from authentication service:</strong><br>${data.message}`;
                    }
                })
                .catch(error => {
                    output.innerHTML += `<br><br>Error: ${error}`;
                });
        });
    </script>
{{end}}
